body{
  background-color:#f0e9d9;
}
#containerLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #675647;
    color: white;
    padding: 30px;
    width: 300px;
    margin: 50px auto;
}


h1 {
    color: white;
    text-align: center;
}

h2 {
    color: white;
}

header {
    background-color: #675647;
    padding: 20px 25px;
    margin: 10px 0 0 0;
    text-align: center;
}

.container {
    display: flex;
}

nav {
  background-color: #675647; 
  padding: 10px 0;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li a {
  color: #fff; 
  text-decoration: none;
  background-color: #675647; 
  padding: 8px 15px;
  border-radius: 5px; 
  transition: all 0.3s ease;
  font-family: Arial, sans-serif;
  font-weight: 500;
}

nav li a:hover {
  background-color: #866c55; 
  color: #fff;
}

#containerLogin  {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 250px;
}

#containerLogin input {
    padding: 8px;
    border: none;
    border-radius: 5px;
}

#containerLogin button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    color: black;
    cursor: pointer;
    align-self: center; 
    transition: background-color 0.3s;
}

#containerLogin button:hover {
    background-color: #a3856b;
}
a{
    color: #fff;
}
#formCadastro{
      display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 250px;
}