body{
  background-color:#f0e9d9;
}


h1 {
    color: white;
    text-align: center;
}

h2 {
    color: white;
}

header {
    background-color: #675647;
    padding: 20px 25px;
    margin: 10px 0 0 0;
    text-align: center;
}

.container {
    display: flex;
}

nav {
  background-color: #675647; 
  padding: 10px 0;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li a {
  color: #fff; 
  text-decoration: none;
  background-color: #675647 ; 
  padding: 8px 15px;
  border-radius: 5px; 
  transition: all 0.3s ease;
  font-family: Arial, sans-serif;
  font-weight: 500;
}

nav li a:hover {
  background-color: #866c55; 
  color: #fff;
}

#titulo{
  color: #000;
}

#card{
background:#675647;
color:white;
width:420px;
padding:32px;
border-radius:14px;
text-align:center;
box-shadow:0 6px 20px rgba(0,0,0,0.25);

}

#card h2{
margin-top:0;
margin-bottom:10px;
font-size:24px;
}


#card p{
line-height:1.5;
font-size:15px;
color:#f3f1f1;
}
#cardzao {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 120px); /* ajusta conforme altura do header */
}
button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #ffffff;
  color: black;
  cursor: pointer;
  align-self: center;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #866c55;
}