body{
  background-color:#f0e9d9;
}

#containerLivros {
  display: flex;
  justify-content: center;
  padding: 30px;
  background-color: #675647;
  border-radius: 20px;
  width: 300px;
  margin: 50px auto;
  color: white;
}

header {
  background-color: #675647;
  padding: 20px 25px;
  margin: 10px 0 0 0;
  text-align: center;
}

h1 {
  color: white;
  text-align: center;
}

#cardLivro {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

#containerLivros input {
  padding: 8px;
  border-radius: 5px;
  border: none;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #ffffff;
  color: black;
  cursor: pointer;
  align-self: center;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #866c55;
}


nav {
  background-color:#675647;
  padding: 10px 0;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li a {
  color: #fff;
  text-decoration: none;
  background-color: #675647;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
  font-family: Arial, sans-serif;
  font-weight: 500;
}

nav li a:hover {
  background-color: #866c55;
}

.card {
  border: 1px solid #ffffff;
  margin: 5px;
  padding: 5px;
  width: 200px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#painelLivros {
  margin-top: 25px;
  background-color: #675647;
  min-height: 10px;
  border-radius: 50px;

    
}

#listasLivros {
  background-color: #9b836f;
  color: #ffffff;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;

  flex-wrap: wrap;
  min-height: 500px;
}
#btcontainer{
    display: flex;
  justify-content: center;
  align-items: cente
}
