#containerLivros {
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: #000;
    border-radius: 20px;
    width: 300px;
    margin: 50px auto;
    color: white;
}
header {
    background-color: #000000;
    padding: 20px 25px;
    margin: 10px 0 0 0;
    text-align: center;
}
h1 {
    color: white;
    text-align: center;
}
#containerLivros form {
    display: flex;
    flex-direction: column;
    gap: 15px; 
    width: 100%;
}

#containerLivros input {
    padding: 8px;
    border-radius: 5px;
    border: none;
}

#containerLivros button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #ffffff;
    color: black;
    cursor: pointer;
    align-self: center;
    transition: background-color 0.3s;
}

#containerLivros button:hover {
    background-color: gray;
}


nav {
  background-color: #000;
  padding: 10px 0;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li a {
  color: #fff;
  text-decoration: none;
  background-color: #000;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
  font-family: Arial, sans-serif;
  font-weight: 500;
}

nav li a:hover {
  background-color: #333;
}
