
#containerLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: black;
    color: white;
    padding: 30px;
    width: 300px;
    margin: 50px auto;
}


h1 {
    color: white;
    text-align: center;
}

h2 {
    color: white;
}

header {
    background-color: #000000;
    padding: 20px 25px;
    margin: 10px 0 0 0;
    text-align: center;
}

.container {
    display: flex;
}

nav {
  background-color: #000; 
  padding: 10px 0;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li a {
  color: #fff; 
  text-decoration: none;
  background-color: #000; 
  padding: 8px 15px;
  border-radius: 5px; 
  transition: all 0.3s ease;
  font-family: Arial, sans-serif;
  font-weight: 500;
}

nav li a:hover {
  background-color: #333; 
  color: #fff;
}
.cards {
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 25px;
    width: 240px;
    border-radius: 12px;
    box-shadow: 0 4px 8px #0002;
    text-align: center;
    h2 {
    color: black
}
}

#calc{
  background: white;
    padding: 25px;
    width: 240px;
    border-radius: 12px;
    box-shadow: 0 4px 8px #0002;
    text-align: center;
    h2 {
    color: black
}}



